﻿@model Domain.FoodCategory
<li style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("Categories")) {

        @Html.EditorFor(model => model.name)
        @Html.ValidationMessageFor(model => model.name)
 
        <a href="#" onclick="$(this).parent().remove();">Delete</a>
    }
</li>