﻿@model Domain.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Recipe</legend>

    <div class="display-label">
         <b>Recipe Title </b> <br /> <br />
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name) <br /> <br />
    </div>

    <div class="display-label">
        <b>Base Servings</b>  <br /> <br />
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.baseServings) <br /> <br />
    </div>

    <div class="display-label">
         <b>Instructions</b><br /> <br />
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.method) <br /> <br />
    </div>

    <div class="display-label">
         <b>Time to cook</b><br /> <br />
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeInMinutes) <br /> <br />
    </div>
    <div>
        <table>
            <tr>
                <th>
                   Ingredient&#160;&#160;&#160;&#160;
                </th>
                <th>
                   Measurement&#160;&#160;&#160;&#160;
                </th>
                <th>
                  Unit&#160;&#160;&#160;&#160;
                </th>
                <th></th>
            </tr>
                @foreach (var item in Model.ingredients) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.measurement.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.measurement.type)
                        </td>
                    </tr>
                }
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
