﻿@model Domain.Recipe

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.servings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.servings)
            @Html.ValidationMessageFor(model => model.servings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.method)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.method)
            @Html.ValidationMessageFor(model => model.method)
        </div>

        <div class="editor-label">
            "Time in minutes"
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.timeInMinutes)
            @Html.ValidationMessageFor(model => model.timeInMinutes)
        </div>

            <div>
            <h2>Ingredients</h2>
            @if (Model.ingredients == null || Model.ingredients.Count == 0){
                <p>None.</p>
            } else {
                <ul id="ingredientEditor" style="list-style-type: none">
                    @for (int i = 0; i < Model.ingredients.Count; i++){
                        <li style= "padding-bottom: 15px">
                            <img src = "@Url.Content("~/Content/images/draggable-icon.png")" style ="cursor: move" alt="" />

                            @Html.LabelFor(model => model.ingredients[i].name)
                            @Html.EditorFor(model => model.ingredients[i].name)
                            @Html.ValidationMessageFor(model => model.ingredients[i].name)
 
                            @Html.LabelFor(model => model.ingredients[i].measurement)
                            @Html.EditorFor(model => model.ingredients[i].measurement)
                            @Html.ValidationMessageFor(model => model.ingredients[i].measurement)
 
                            <a href="#" onclick="$(this).parent().remove();">Delete</a>
                       </li>
                    }      
                </ul>
        }
        <script type="text/javascript">
            $(function () {
                $("#movieEditor").sortable();
            });
        </script>
  

        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<input type="text" name="txtInput" id="txtInput" />
<button id="btnSubmit">Submit</button>

<ul id="messages">
</ul>
<script type="text/javascript" src="~/signalR/hubs"></script>
<script type="text/javascript">
    $(document).ready(function (message) {
        var chat = $.connection.authenticationhub;

        chat.writeMessage = function (message) {
            $("#messages").append("<li>" + message + "</li>");
        };

        $("#btnSubmit").click(function () {
            var text = $("#txtInput").val();
            chat.Test(text);
        });

        $.connection.hub.start();
    });

</script>