﻿@model Domain.Ingredient

<li style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("Ingredients")) {
 
        <h3>Ingredient Name</h3>
        @Html.EditorFor(model => model.name)
        @Html.ValidationMessageFor(model => model.name)
 
        <h3>Measurement</h3>
        @Html.EditorFor(model => model.measurement.amount)
        @Html.ValidationMessageFor(model => model.measurement.amount)

        <h3>Unit</h3>
        @Html.EditorFor(model => model.measurement.type)
        @Html.ValidationMessageFor(model => model.measurement.type)
 
        <a href="#" onclick="$(this).parent().remove();">Delete</a>
    }
</li>