﻿@model Domain.Recipe

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.baseServings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.baseServings)
            @Html.ValidationMessageFor(model => model.baseServings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.servings)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.servings)
            @Html.ValidationMessageFor(model => model.servings)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.method)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.method)
            @Html.ValidationMessageFor(model => model.method)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.timeInMinutes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.timeInMinutes)
            @Html.ValidationMessageFor(model => model.timeInMinutes)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
